*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #001AFF;
    color: white;
    display: flex;
}

.cabeçalho-imagem{
    width: 20%;
}

.texto-titulo-cabeçalho{
    position: absolute;
width: 642px;
height: 139px;
left: 511px;
top: 56px;

font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;
}