*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(#000, #0113BF);
    color: white;
    display: flex;
}

.cabeçalho-imagem{
    width: 20%;
}

.texto-titulo-cabeçalho{
    position: absolute;
width: 642px;
height: 139px;
left: 511px;
top: 56px;

font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;

color: #FFFFFF;
}

.coleção-carrinhos{
    width: 25%;
    margin-right: 24px;
    margin-left: 500px;
    padding: 50px 0;
}

.sobre-mim{
    background-image: linear-gradient(#0113BF, #000);
    color: white;
    padding: 100px 0;
}

.titulo-sobre-mim{
    padding: 24px 0;
    margin-left: 24px;
    font-size: xx-large;
}

.texto-um{
    margin-left: 12px;
    font-size: larger;
    padding: 6px 0;
}

.texto-dois{
    margin-left: 12px;
    font-size: larger;
    padding: 6px 0;
}